# Питоновские байт-коды
__pycache__/
*.pyc

# Виртуальные окружения
venv/
env/

# IDE и редакторы
.idea/
.vscode/

# Логи
*.log

# CSV файлы (если не хочешь публиковать их в репозитории)
*.csv

# Системные файлы
.DS_Store       # macOS
Thumbs.db       # Windows

# Временные файлы
*.bak            # Бэкап-файлы
*.swp            # Временные файлы от vim
